AlignAfterOpenBracket: true
AlignConsecutiveDeclarations: Consecutive
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes

BasedOnStyle: LLVM
BinPackParameters: false
BreakBeforeBraces: Allman

ColumnLimit: 80

IndentWidth: 4

PointerAlignment: Right

ReflowComments: true

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1

TabWidth: 4

UseTab: ForIndentation

PenaltyReturnTypeOnItsOwnLine: 100
